<div class="container">
    <img class="ads-top-logo" src="img/logos/dnug.png"/>
</div>
<section class="bg-light-gray" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wer sind wir?</h2>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left large-text">
                <p>
                    Wir sind die Dotnet User Group Regensburg. Wir wollen Programmierer*innen aus Regensburg
                    zusammenbringen,
                    Ideen austauschen und gemeinsam lernen.
                </p>
                <p>
                    Nach einer längeren Pause wollen wir unsere monatlichen Treffen mit neuen Vorträgen wiederbeleben.
                </p>
                <p>
                    Der Schwerpunkt liegt auf Dotnet, wir sind jedoch offen für alle Technologien und Methoden, die in
                    der
                    Softwareentwicklung relevant sind. Jeder Vortrag bietet die Möglichkeit, Neues zu lernen, Wissen zu
                    vertiefen
                    und sich mit neuen Trends und Methoden vertraut zu machen.
                </p>
                <p>
                    Unsere Community richtet sich an alle Softwareentwickler*innen, Student*innen und Interessierten,
                    die Lust haben,
                    sich auszutauschen, zu vernetzen und von- und miteinander zu lernen.
                </p>
                <p>
                    Schau vorbei. Wir freuen uns auf Dich!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br>
            <br>
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Spread the word!</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left large-text">
                <p>Du willst Werbung für unsere Vorträge machen?</p>
                <p>Poste unseren 
                    <a href="../posters/dotnet-user-group-2025-11-02.png">Flyer</a>
                    oder hänge unser 
                    <a href="../posters/dotnet-user-group-2025-11-02.pdf">Poster</a>
                    aus.
                </p>
            </div>
        </div>

    </div>
</section>