<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand page-scroll" href="/">{{site.title}}</a>-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li><a class="page-scroll" href="#talks">Vorträge</a></li>
                <li><a class="page-scroll" href="#videos">Videos</a></li>
                <li><a class="page-scroll" href="#team">Team</a></li>
                <li><a class="page-scroll" href="https://github.com/DotNetRegensburg/dotnetregensburg.github.io/issues">Repository</a></li>
            </ul>
        </div>
    </div>
</nav>