<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Newsfeed</h2>
                <h3 class="section-subheading text-muted">Zusammenstellung von aktuellen IT-News.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <script src="//www.microsoft.com/germany/msdn/rss/rssviewer.aspx?rssfeed=FmSIrqGvJdAm0eZNTOK6m__0Cwv_ATNKcAKYKOuBgzkWTMJE4S-3RQ%3d%3d"></script>
            </div>
        </div>
    </div>
</section>