<section id="videos" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Videos</h2>
                <h3 class="section-subheading text-muted">Aufnahmen von Usergroup Vorträgen.</h3>
                <p></p>
                <p class="large text-muted">
                    Die Vorträge der .Net User Group sollen dem persönlichen Treffen und Austausch dienen.<br>
                    Darum haben wir beschlossen, die Vorträge zur Zeit nicht aufzuzeichnen.
                </P>
                <p class="large text-muted">
                    Alte Aufzeichnungen könnt ihr <a href="/videoarchive">in unserem Video-Archiv</a> finden.
                </p>
            </div>
        </div>
    </div>
</section>